<div class="listeArticle">
    <div class="listeArticleImg">
        <img src="/images/vips.png"/>
    </div>
    <div class="listeArticleLiens">
        <ul id="">
            {{#each liste}}
            <div>
                <li>
                    <a href="/articles/{{this.VIP_NUMERO}}">
                        {{this.VIP_PRENOM}} {{this.VIP_NOM}}
                    </a>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>
</div>
