<div class="afficherArticle">
    <form class="" action="" method="">
        <fieldset>
            <legend>Article</legend>

            <p>Choisir un vip pour voir les articles le concernant</p>
        </fieldset>
    </form>
</div>

{{> articleListe}}
