<h1> Album photo des stars </h1>

{{> albumListe}}

<div class="afficherAlbumVip">
    <h4>Sélectionner un vip dans la liste</h4>
    <div class="AfficherCommentaireAlbumVip">
        <form class="" action="" method="">
            <fieldset>
                <legend>Commentaire</legend>

                <p>Aucun vip sélectionné</p>
            </fieldset>
        </form>
    </div>
</div>
