<h1> Cliquer sur une lettre</h1>

<ul id="listFirstLetter">
    {{#each firstLetter}}
        <div>
            <a href="#">
                <li>{{this.letter}}</li>
            </a>
        </div>
    {{/each}}
</ul>