<h1> Cliquer sur une lettre</h1>

<ul>
    {{#each firstLetter}}
        <div class="listFirstLetter">
            <a href="#">
                <li>{{this.letter}}</li>
            </a>
        </div>
    {{/each}}
</ul>